extends layout-black.pug

block content

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jo Keizer

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p You are amazing
          img(src=`./static/images/profile.jpg` width='550' height='550')

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li node.js
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li OOP
          li API requests
          li AJAX
          li Git
        h6 Contact Info

        ul
          li 06-41522043
          li keizer2012@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jolanda-keizer-84421a42/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/JoKeizer', target='_blank') GitHub
        a.button.expanded(href='https://www.instagram.com/jo_keizer/', target='_blank') Instagram
