extends layout.pug

block content
    .introContainer
      .intro
        h1.titleIntro A Creative Portfolio
        p.textIntro
          | Welcome on my portfolio. Here you will find all my project from Threehouse Techdegree Javascript
        a.btn(href=`portfolio`) Portfolio
    #top-image.profileImage
    .pageTitle
      h1 Developer!










