extends menu.pug

block menu
    header.header
      .logoContainer
        img(src='./static/images/logo.png')
      .menu
        .menu-section
          .menu-toggle
            .one
            .two
            .three
          nav
            ul.hidden(role='navigation')
              li
                a(href='#') work
              li
                a(href='#') about
              li
                a(href='#') resume
              li
                a(href='#') contact
    .introContainer
        .intro
          h1.titleIntro A Creative Portfolio
          p.textIntro
            | Welcome on my portfolio. Here you will find all my project from the Full Stack JavaScript Techdegree from Treehouse
          a.btn(href=`/portfolio`) Portfolio

    .profileImage
      img(src='./static/images/pineapple.png')
    .pageTitle
      h1 Developer!










