extends menu.pug

block menu
    header.header
      .logoContainerHome
        a.logo(href='/')
            img(src='/static/images/logo.png')
      .menu
        .menu-section
          .menu-toggle
            .one
            .two
            .three
          nav
            ul.hidden(role='navigation')
              li
                a(href=`portfolio`) portfolio
              li
                a(href='#') about
              li
                a(href='#') resume
              li
                a(href='#') contact
    .socialBlock
      #rotateFB
        img(src='/static/images/github.png')
      #rotateTw
        img(src='/static/images/instagram.png')
      #rotateIg
        img(src=' /static/images/facebook.png')
    .introContainer
      .intro
        h1.titleIntro A Creative Portfolio
        p.textIntro
          | Welcome on my portfolio. Here you will find all my project from Threehouse Techdegree Javascript
        a.btn(href=`portfolio`) Portfolio
    #top-image.profileImage
    .pageTitle
      h1 Developer!










