extends menu.pug

block menu
    .body
        .menu-section
          .menu-toggle
            .one
            .two
            .three
          nav
            ul.hidden(role='navigation')
              li
                a(href='#') work
              li
                a(href='#') about
              li
                a(href='#') resume
              li
                a(href='#') contact

        script(src='/static/js/scripts.js')

