<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/menu.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

  body
<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/menu.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

  body
      header.header
        .logoContainer
            a.logo(href='/')
                img(src='/static/images/logo.png')
        .menu
          .menu-section
            .menu-toggle
              .one
              .two
              .three
            nav
              ul.hidden(role='navigation')
                li
                  a(href=`portfolio`) portfolio
                li
                  a(href='#') about
                li
                  a(href='#') resume
                li
                  a(href='#') contact
      .socialBlock
        #rotateFB
          img(src='/static/images/github.png')
        #rotateTw
          img(src='/static/images/instagram.png')
        #rotateIg
          img(src=' /static/images/facebook.png')
block content
script(src='/static/js/main.js')

