
<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/menu.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

  body.theme-yellow
      header.header
        .logoContainer
            a.logo(href='/')
                img(src='/static/images/logo.png')
        .menu
          .menu-section
            .menu-toggle
              .one
              .two
              .three
            nav
              ul.hidden(role='navigation')
                li
                  a(href=`/`) Home
                li
                  a(href=`portfolio`) Portfolio
                li
                  a(href=`about`) About
      .socialBlock
        #rotateFB
            a(href='https://github.com/JoKeizer', target='_blank')
              img(src='/static/images/social/github.png')
        #rotateTw
            a(href='https://www.instagram.com/jo_keizer/', target='_blank')
              img(src='/static/images/social/instagram.png')
        #rotateIg
            a(href='https://www.facebook.com/keizer2012?ref=bookmarks', target='_blank')
              img(src=' /static/images/social/facebook.png')
block content
script(src='/static/js/main.js')

