<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    link(rel='stylesheet', href='/static/css/menu.css')
    link(rel='stylesheet', href='/static/css/frontpage.css')
    link(href='https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500&display=swap', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

  body
      block menu

script(src='/static/js/main.js')

