<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    link(rel='stylesheet', href='/static/css/menu.css')
  body
      block menu

  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
